@import "tailwindcss";

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonik_regular.ttf");
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonik_bold.ttf");
  font-weight: 700;
}


@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonik_black.ttf");
  font-weight: 900;
}


@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/aeonik_light.ttf");
  font-weight: 300;
}


@theme inline {
  --color-background: #F2F3F0;
  --color-foreground: #000000;
  --color-inactive: #394541;
  --color-disabled: #E8E8E4;
  --color-card: #FFFFFF;
  --color-border: #DEDFDC;
  --color-accent: #204E4D;
  --color-accent-green: #CCE88C;
  --color-accent-red: #FF7D60;
  --color-accent-yellow: #FFEB8C;
  --color-accent-pink: #FDD7FB;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: "Aeonik Pro"
}



body {
  
  height: 100dvh;
}
