@import "tailwindcss";

@theme inline {
  --color-background: #F2F3F0;
  --color-foreground: #000000;
  --color-inactive: #394541;
  --color-disabled: #E8E8E4;
  --color-card: #FFFFFF;
  --color-border: #DEDFDC;
  --color-accent: #204E4D;
  --color-accent-green: #CCE88C;
  --color-accent-red: #FF7D60;
  --color-accent-yellow: #FFEB8C;
  --color-accent-pink: #FDD7FB;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: var(--font-instrument-sans)
}


body {
  
  height: 100dvh;
}
